# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv

#my stuff
artist_images
piece_images
show_images
event_images