{% extends "_base.html" %}

{% block title %}Artists{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'creators:artist_new' %}">New</a>
{% endif %}
<div class="grid">
<div class="grid-cards">
{% for artist in artist_list %}
<div class="grid-cards-inner">
  <div class="card-header">
    <span class="fw-bold">
      <!-- add link here! -->
      <a href="{{ artist.get_absolute_url }}">{{ artist.user.first_name }} {{ artist.user.last_name }}</a>
    </span> &middot;
  </div>
  <div class="card-body">
    {% if artist.image %}
    <img src="{{ artist.image.url }}" class="rounded-xl" width="100" height="100">
    {% endif %}
  </div>
  <div class="card-footer text-center text-muted">
    <a href="{% url 'creators:artist_edit' artist.pk %}">Edit</a>
    <a href="{% url 'creators:artist_delete' artist.pk %}">Delete</a>
  </div>
</div>
<br />
{% endfor %}
</div>
</div>
{% endblock content %}
