{% extends '_base.html' %}

{% block title %}{{ event.show.name }} / {{ event.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-6">
  {% if event.image %}
  <div class="col-span-2">
    <img src="{{ event.image.url }}" class="rounded-xl" width="300" height="300">
  </div>
  {% endif %}
  <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">{{ event.name }} of {{ event.show.name }}</h1>
    <p class="mb-6 text-3xl">{{ event.start }} - {{ event.end }}</p>
    {% if event.description %}
    <p class="text-gray-500 text-sm"><strong>Description: </strong>{{ event.description }}</p>
    {% endif %}
  </div>
  <div>
    <p><a href="{% url 'events:event_edit' event.pk %}">Edit</a>
       <a href="{% url 'events:event_delete' event.pk %}">Delete</a>
    </p>
    <p>Back to <a href="{% url 'events:event_list' %}">All Events</a>.</p>
  </div>
</div>
{% endblock %}
