{% extends '_base.html' %}

{% block title %}{{ show.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-4 gap-6">
  {% if show.image %}
  <div class="col-span-2">
    <img src="{{ show.image.url }}" class="rounded-xl" width="300" height="300">
  </div>
  {% endif %}
  <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">{{ show.name }}</h1>
    <p class="mb-6 text-3xl">{{ show.start }} - {{ show.end }}</p>
    <h3 class="mb-6">Curated by:
    {% for curator in show.curators.all %}
    <a href="{% url 'creators:artist_detail' curator.id %}"> {{ curator.user.first_name }} {{ curator.user.last_name }}</a>
    {% endfor %}
    </h3>
    {% if show.description %}
    <p class="text-gray-500 text-sm"><strong>Description: </strong>{{ show.description }}</p>
    {% endif %}
    {% for event in show.events.all %}
    <h3 class="mb-6"> <a href="{% url 'events:event_detail' event.id %}"> {{ event.name }}</a>
    {{ event.start }} - {{ event.end }}</h3>
    {% endfor %}
  </div>
  <div class="grid">
  <div class="grid-cards">
  {% for artwork in show.artworks.all %}
  <div class="grid-cards-inner">
    <div class="card-header text-center">
      <span class="fw-bold">
        <a href="{{ artwork.get_absolute_url }}">{{ artwork.name }}</a>
      </span> &middot;
    </div>
    <div class="card-body text-center">
      {% if artwork.image %}
      <img src="{{ artwork.image.url }}" class="rounded-xl" width="100" height="100">
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer text-center text-muted">
      <a href="{% url 'artworks:artwork_edit' artwork.pk %}">Edit</a>
      <a href="{% url 'artworks:artwork_delete' artwork.pk %}">Delete</a>
    </div>
    {% endif %}
  </div>
  <br />
  {% endfor %}
  </div>
  </div>
  {% if user.is_authenticated %}
  <div>
    <p><a href="{% url 'events:show_edit' show.pk %}">Edit</a>
       <a href="{% url 'events:show_delete' show.pk %}">Delete</a>
    </p>
    <p>Back to <a href="{% url 'events:show_list' %}">All Shows</a>.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
