{% extends "_base.html" %}

{% block title %}Shows{% endblock title %}

{% block content %}
{% for show in show_list %}
<div class="card">
  <div class="card-header">
    <span class="fw-bold">
      <!-- add link here! -->
      <a href="{{ show.get_absolute_url }}">{{ show.name }}</a>
    </span> &middot;
  </div>
  <div class="card-body">
    {% if event.image %}
    <img src="{{ show.image.url }}" class="rounded-xl" width="100" height="100">
    {% endif %}
  </div>
  <div class="card-footer text-center text-muted">
    <a href="{% url 'events:show_edit' show.pk %}">Edit</a>
    <a href="{% url 'events:show_delete' show.pk %}">Delete</a>
  </div>
</div>
<br />
{% endfor %}
{% endblock content %}